.Row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #474B4F;
}

.Content {
  background-color: #1c1c1c;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #383838;
}

.Header {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: #c9c9c9;
}

.Input {
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid #383838;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #1c1c1c;
  color: #c9c9c9;
}

.Input:focus {
  outline: none;
  border-color: #5bc0de;
  box-shadow: 0 0 5px #5bc0de;
}

.Button:hover {
  background-color: #31b0d5;
}

.Link {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-top: 1.5rem;
  color: #c9c9c9;
}

.Link:hover {
  text-decoration: none;
  color: #f8f8f8;
}

.alert {
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #c9c9c9;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #f8f8f8;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #767676;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #f8f8f8;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #191919;
}
*::-webkit-scrollbar-thumb {
  background: #777;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}